<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-6 col-xl-4 mx-auto">
            <form id="login-form" novalidate>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" required />
                    <label class="form-label" for="email">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class=" form-control" required />
                    <label class="form-label" for="password">Password</label>
                </div>

                <!-- Submit button -->
                <div class="mb-4">
                    <button type="submit" id="loginBtn" class="w-100 btn btn-lg btn-primary">Sign in</button>
                </div>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="/app/auth/#register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>